@import "tailwindcss";

/* globals.css */

.gradient-animated {
  background: linear-gradient(
    -45deg,
    #4f46e5,
    #6366f1,
    #7c3aed,
    #4f46e5
  );
  background-size: 300% 300%;
  animation: gradientFlow 8s linear infinite;
}

@keyframes gradientFlow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
